<div class="jumbotron">
  <h1>IATU Topup Demo</h1>
  <p class="lead">
    <span ng-hide="vm.appDetailsSet">Please setup your application details <a ng-href="#/settings">click here</a></span>
  </p>
</div>

<!-- Topup form -->
<div class="row marketing">

  <!-- Message area -->
  <div ng-show="vm.message">
    <p
    	class="alert"
    	ng-class="{'alert-danger': vm.alertDanger, 'alert-success': vm.alertSuccess, 'alert-info': vm.alertInfo, 'alert-warning': vm.alertWarning}">
      {{ vm.message }}
      <button class="pull-right" ng-click="vm.clearMessage()">x</button>
    </p>
  </div>
  <!-- End of message area -->

  <!-- Topup form -->
  <form name="vm.form.topup" ng-show="vm.productsSet()">

    <div class="form-group col-md-12 col-sm-12">
      <div>
        <label class="control-label">Country:</label>
      </div>
        <select
          class="form-control"
          ng-model="vm.selectedCountryCode"
          ng-options="k as v for (k, v) in vm.countries"
          ng-change="vm.resetCarrierValues(true)">
        <option class='hidden' value="">select a country</option>
      </select>
    </div><!-- country -->

    <div class="form-group col-md-12 col-sm-12">
      <div>
        <label class="control-label">Carrier:</label>
      </div>
        <select
          class="form-control"
          ng-model="vm.selectedCarrierCode"
          ng-options="k as k for (k, v) in vm.products[vm.selectedCountryCode]"
          ng-change="vm.resetCarrierValues()">
        	 <option class='hidden' value="">select a carrier</option>
        </select>
    </div><!-- carrier -->

    <div class="form-group col-md-8 col-sm-8 col-xs-12 col-lg-8" ng-if="!vm.products[vm.selectedCountryCode][vm.selectedCarrierCode].openRange">
      <div>
        <label class="control-label">Topup Amount:</label>
      </div>
        <select
        	class="form-control"
        	ng-model="vm.selectedAmount"
        	ng-options="v.minDenomination as v.minDenomination  for (k, v) in vm.products[vm.selectedCountryCode][vm.selectedCarrierCode].values">
    		  <option class='hidden' value="">select an amount</option>
    		</select>
      </div><!-- amount -->

    <div
      class="form-group col-md-4 col-sm-4 col-xs-12 col-lg-4"
      ng-show="!vm.products[vm.selectedCountryCode][vm.selectedCarrierCode].openRange">
      <div>
        <div>
          <label class="control-label" ng-show="vm.selectedAmount && !vm.products[vm.selectedCountryCode][vm.selectedCarrierCode].openRange">Lookup Local Value:</label>
        </div>
        <button
          type="button"
          class="btn btn-info btn-md pull-left"
          ng-click="vm.getLocalValue()"
          ng-disabled ="!vm.selectedAmount"
          ng-show="vm.selectedAmount && !vm.products[vm.selectedCountryCode][vm.selectedCarrierCode].openRange">
          <span class="glyphicon glyphicon-globe" aria-hidden="true"></span> Get Local Value</button>
      </div>
    </div><!-- local value -->

    <div class="form-group col-md-12 col-sm-12" ng-if="vm.products[vm.selectedCountryCode][vm.selectedCarrierCode].openRange">
        <label class="control-label">Enter Amount: between {{ vm.products[vm.selectedCountryCode][vm.selectedCarrierCode].minDenomination }} and {{ vm.products[vm.selectedCountryCode][vm.selectedCarrierCode].maxDenomination }}</label>
        <input type="text" ng-model="vm.selectedAmount" class="form-control" />
    </div><!-- custom amount on open range products -->

    <div class="form-group col-md-12 col-sm-12">
      <div>
        <label class="control-label">Phone Number:</label>
      </div>
        <div class="input-group">
          <input name='phoneNumber' class="form-control" ng-model="vm.phoneNumber" type="text" placeholder="Phone Number"/>
             <span ng-if="vm.phoneNumber" class="input-group-btn">
               <button class="btn btn-default" type="button" ng-click="vm.validatePhoneNumber()">Validate</button>
             </span>
        </div><!-- /input-group -->
    </div><!-- number -->

    <button
      class="btn btn-success btn-lg pull-right"
      ng-click="vm.prepareTopup()"
      ng-disabled="vm.allowValidation()"
      ng-hide="vm.topUpPrepared">
      <span
          class="glyphicon glyphicon-phone"
          aria-hidden="true">
      </span>
      Prepare Topup
    </button>

  </form>

  <!-- End of entry form -->

  <!-- Validation of the transaction -->
  <div ng-show="vm.topUpPrepared">
    <div class="topup-receipt" ng-show="vm.topUpPrepared">
      <span>Country : {{ vm.countries[vm.selectedCountryCode]}}</span>
      <span>Carrier : {{ vm.selectedCarrierCode }}</span>
      <span>Amount : {{ vm.selectedAmount }} | {{ vm.localValueAmount }} {{ vm.localValueCurrency }}</span>
      <span>Phone Number: {{ vm.phoneNumber }}</span>
      <p>
        <button class="btn btn-warning btn-md" ng-click="vm.resetAllValues()">Reset</button>
        <button class="btn btn-danger btn-md" ng-click="vm.cancelTopup()">Cancel</button>
        <button class="btn btn-success btn-md" ng-click="vm.submitTopup()">Submit Topup</button>
      </p>
    </div>
  </div>
  <!-- Validation of the transaction -->
</div>
<!-- end of Topup form -->

<!-- Developer area -->
<div ng-show="vm.selectedCountryCode && vm.inDevMode">
  <div ng-if="vm.selectedCountryCode && vm.inDevMode">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Country Code</h3>
      </div>
      <div class="panel-body">
        <strong>"country_code"</strong> = "{{ vm.selectedCountryCode }}"
      </div>
    </div>
  </div>
</div>

<div ng-show="vm.selectedCarrierCode && vm.inDevMode">
  <div ng-if="vm.selectedCarrierCode && vm.inDevMode">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Carrier Code</h3>
      </div>
      <div class="panel-body">
        <strong>"carrier_code"</strong> = "{{ vm.selectedCarrierCode }}"
      </div>
    </div>
  </div>
</div>

<div ng-show="vm.selectedAmount && vm.inDevMode">
  <div ng-if="vm.selectedAmount && vm.inDevMode">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Amount</h3>
      </div>
      <div class="panel-body">
        <strong>"amount"</strong> = "{{ vm.selectedAmount }}"
      </div>
    </div>
  </div>
</div>

<div ng-show="vm.localValueResults && vm.inDevMode">
  <div ng-if="vm.localValueCurrency && vm.localValueAmount && vm.inDevMode">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Local value lookup</h3>
      </div>
      <div class="panel-body">
        <pre>
        <code>{{ vm.localValueResults | json }}</code>
      </pre>
        <p>
          <b>Note:</b> The Amount in Local Currency is an estimate provided by IDT to its customers for informational purposes only and may not equal the actual amount received by the end user in the applicable Country. IDT uses the foreign exchange rates posted on the website www.Oanda.com to provide this estimate. The estimate does not include any fees or taxes charged by the applicable Carrier upon conversion into the local currency. The actual amount received by the end user in the applicable Country, any fees or taxes applied to the conversion, and the actual foreign exchange rate used is determined and established by the applicable Carrier. IDT is not responsible for determining the actual amount received by the end user or for any discrepancy between the Amount in Local Currency estimate provided and the actual amount received by the end user.
        </p>
      </div>
    </div>
  </div>
</div>

<div ng-show="vm.validatePhoneResponse && vm.inDevMode">
  <div ng-if="vm.validatePhoneResponse && vm.inDevMode">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Phone number validation</h3>
      </div>
      <div class="panel-body">
        <code>
          {{ vm.validatePhoneResponse || json }}
        </code>
      </div>
    </div>
  </div>
</div>

  <!-- Product list loaded to generate the dropdown list -->
<div ng-show="vm.products && vm.inDevMode">
  <span ng-if="vm.products && vm.inDevMode">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Product List</h3>
      </div>
      <div class="panel-body">
        <pre>
          <div ng-repeat="(country, product) in vm.products">
              <span>{{country}} {{ product | json }}</span>
            </div>
        </pre>
      </div>
    </div>
  </span>
</div>
  <!-- end of product list area -->
