<div class="jumbotron">
  <h1>IATU Demo Settings</h1>
  <p class="lead">
    This is an example Angular IATU topup application using IDT Beyond's API.
  </p>

</div>

<div class="row marketing">
  <div>
    <span class="alert" ng-class="{'alert-danger': vm.alertDanger, 'alert-success': vm.alertSuccess, 'alert-info': vm.alertInfo}">
    {{ vm.message }}
    <button ng-click="vm.clearMessage()">X</button>
    </span>
  </div>
  <form name="settings">
    <div class="form-group">
      <input type="text" class="form-control" ng-model="vm.appId" name="app-id" placeholder="Enter the APP-ID (ex: q1w2e3r4)" />
    </div>
    <div class="form-group">
      <input type="text" class="form-control" ng-model="vm.appKey" name="app-key" placeholder="Enter the APP-KEY (ex: 1234567qwerty098765asdfg)" />
    </div>
    <div class="form-group">
      <input type="text" class="form-control" ng-model="vm.termId" name="term-id" placeholder="Enter the TERMINAL-ID (ex: kiosk 1)" />
    </div>
    <div class="form-group">
      <label for="dev-mode"> Development Mode : </label>
      <input id="dev-mode" name="dev-mode" type="checkbox" ng-model="vm.developmentMode" name="development-mode" />
    </div>
    <div>
      <button class="btn btn-primary pull-right" ng-click="vm.saveAppDetails()">
        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Save</button>
      <button class="btn btn-danger pull-left" ng-click="vm.clearApplicationData()">
        <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span> Clear</button>
    </div>
  </form>
</div>
